<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Web App for Face Recognition</title>
</head>
<body>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <br>
        <hr>
        <h1>Missing Person</h1>
        <hr>
          <div class="btn-group">
              <a type="button" href="/upload-image" class="btn btn-lg btn-group btn-primary">Add Faces</a>
              <a type="button" href="/recognize-image" class="btn btn-lg btn-group btn-danger">Recognize face</a>

          </div>

      </div>

    </div>
</div>
</body>
</html>